.redBox {
    width: 128px;
    height: 128px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 2em;
    font-weight: 700;
    color: white;
}

.blueBox {
    width: 128px;
    height: 128px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 2em;
    font-weight: 700;
    color: white;
}

[v-cloak] {
    display: none;
}

form {
    width: 240px;
    height: 320px;
    background-color: rgb(211, 239, 255);
    padding: 1rem;
}

.formTitle {
    font-size: 2rem;
}

input {
    display: block;
    margin: 0.2rem 0 1rem;
}

label {
    font-weight: 700;
}