<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Intro to VueJS</title>
</head>

<body>
    <div id="vueApp" v-cloak>
        <h1> {{messageOne}} </h1>
        <br>

        <!-- Using v-model on select, input and text-area elements -->
        <input v-model="messageTwo" />
        <br>

        <!-- Using click events -->
        <button @click="toggleBox1">Toggle Box</button>
        <!-- Using if statements -->
        <div class="redBox" v-if="isVisible">A</div>
        <br>

        <button @click="toggleBox2">Toggle Box</button>
        <div class="blueBox" v-if="isActive">B</div>
        <br>

    </div>
    <script>
        const vueApp = Vue.createApp({
            data() {
                return {
                    messageOne: 'Hello there :)',
                    messageTwo: 'Welcome to VueJS',
                    isVisible: false,
                    isActive: false,
                    greeting: 'Hello Patrick, welcome to VueJS!'
                }
            },
            methods: {
                toggleBox1() {
                    this.isVisible = !this.isVisible;
                },
                toggleBox2() {
                    this.isActive = !this.isActive;
                }
            }
        })
        vueApp.mount('#vueApp')
    </script>
</body>

</html>