@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
    --ulc-blue: hsl(214, 93%, 54%);
    --ulc-blue-hover: hsl(214, 81%, 46%);
    --ulc-red: hsl(7, 100%, 57%);
    --ulc-red-hover: hsl(7, 87%, 41%);
    --ulc-white: hsl(0, 0%, 96%);
    --ulc-black: hsl(0, 0%, 13%);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: var(--ulc-black);
    color: var(--ulc-white);
	line-height: 1;
    font-family: 'Press Start 2P';
    font-size: 20px;
    margin: 0 auto;
    overflow: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset styles */

html {
    min-height: 100vh;
}

#ulc-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 3rem;
}

#ulc-menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 1rem 3rem;
    margin: 0 0 7rem 0;
}

button.ulc-btn {
    background-color: var(--ulc-blue);
    color: var(--ulc-white);
    border: 0;
    border-radius: 5px;
    padding: 1rem 3rem;
    cursor: pointer;
}

button.ulc-btn:hover {
    background-color: var(--ulc-blue-hover);
    transition: all 0.2s ease-in-out;
}

.ulc-btn-text {
    font-family: 'Press Start 2P';
    font-size: 1.3em;
}

#ulc-container {
    margin: 0 auto;
}

#ulc-game-title {
    font-size: 3em;
}

#ulc-guesses {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
}

.ulc-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
    color: var(--ulc-black);
    width: 320px;
    height: 150px;
    background-color: var(--ulc-white);
    padding: 1rem;
}

#ulc-player-area {
    display: flex;
    justify-content: space-between;
    height: 220px;
    max-height: 250px;
}

#ulc-player-input {
    display: flex;
    flex-direction: column;
}

input#ulc-num-input {
    font-family: 'Press Start 2P';
    font-size: 2.5em;
    color: var(--ulc-white);
    width: 320px;
    height: 150px;
    background-color: transparent;
    border: 4px solid var(--ulc-white);
    margin: 0 0 2rem 0;
}

input#ulc-num-input::-webkit-outer-spin-button,
input#ulc-num-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input#ulc-num-input[type=number] {
  -moz-appearance: textfield;
}

#ulc-player-activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    width: inherit;
    padding: 60px;
    background-color: var(--ulc-black);
}

#copyright-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
}