<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
			integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
			crossorigin="anonymous" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap"
			rel="stylesheet" />
		<link rel="stylesheet" href="./assets/main.css" />
		<title>Shopping List App</title>
	</head>

	<body>
		<!-- Use v-cloak to hide Vue template until app is mounted. Styled in CSS file -->
		<div v-cloak id="app">
			<div id="shopping-box">
				<h1>My Shopping List</h1>
				<p class="txt-desc">
					Please enter item name in the field below and click the "Add
					Item" button.
				</p>
				<!-- Use v-model to grab input -->
				<input
					v-model="addItem"
					type="text"
					placeholder="e.g 12 packs of 50g sugar"
					class="txt-field" /><button type="submit" class="shop-btn">
					Add Item
				</button>
				{{addItem}}
				<ul>
					<!-- Retrieve shopping list -->
					<li v-for="item in items" :key="item.id">{{item.value}}</li>
				</ul>
			</div>
		</div>

		<!-- Import Vue CDN -->
		<script src="https://unpkg.com/vue@3"></script>

		<!-- Import App -->
		<script src="./assets/app.js"></script>
	</body>
</html>
