html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: hsl(66, 100%, 91%);
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    gap: 2rem;
    margin: 1rem auto;
}

.modal-btn {
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: auto;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-hide {
    display: none;
}